certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
grpcio==1.70.0
grpcio-tools==1.70.0
idna==3.10
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
natsort==8.4.0
overrides==7.7.0
pathspec==0.12.1
prompt_toolkit==3.0.50
protobuf==5.29.3
pycparser==2.22
Pygments==2.19.1
PyNaCl==1.5.0
questionary==2.1.0
requests==2.32.3
rich==13.9.4
rich-click==1.8.5
robotframework==7.2.2
robotframework-assertion-engine==3.0.3
robotframework-browser==19.4.0
robotframework-crypto==0.4.2
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-tidy==4.16.0
seedir==0.5.0
setuptools==76.0.0
tomli==2.2.1
typing_extensions==4.12.2
urllib3==2.3.0
wcwidth==0.2.13
wrapt==1.17.2
